<%- layout("/layouts/boilerplate") %>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h3>Edit Your listing</h3>
      <form
        method="post"
        ,
        action="/listings/<%= listing.id%>?_method=PUT"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            class="form-control"
            type="text"
            name="listing[title]"
            value="<%= listing.title %>"
            placeholder="Enter Title"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Title should be valid</div>
        </div>

        <div class="mb-3 form-desc">
          <label for="desc" class="form-label">Description</label>
          <textarea
            class="form-control"
            name="listing[desc]"
            placeholder="Enter Description"
            required
          >
          <%= listing.desc %></textarea
          >
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Description should be valid</div>
        </div>

        <div class="md-3">
          <label for="image" class="form-label">Image Link</label>
          <input
            class="form-control"
            type="text"
            name="listing[image]"
            value="<%= listing.image %>"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Link should be valid</div>
        </div>

        <div class="row">
          <div class="md-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              class="form-control"
              type="text"
              name="listing[price]"
              value="<%= listing.price %>"
              placeholder="Enter Price"
              required
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Price should be valid</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              class="form-control"
              type="text"
              name="listing[country]"
              value="<%= listing.country %>"
              placeholder="Enter country"
              required
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Country should be valid</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            class="form-control"
            type="text"
            name="listing[location]"
            value="<%= listing.location %>"
            placeholder="Enter Location"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Location should be valid</div>
        </div>

        <button class="btn btn-dark mt-3 edit-btn">Update</button>
      </form>
    </div>
  </div>
</body>
